# .npmrc
fund=false
audit=false
progress=false

# เพิ่มความทนทานเวลา fetch package
prefer-online=true
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000

# เผื่อ peer dep แปลก ๆ จาก lib เก่า ๆ
legacy-peer-deps=true
